<footer>
  <ul class="footer__container">
    <li class="footer-item footer-item1">
      <a href="">Contact Us</a>
    </li>
    <li class="footer-item footer-item2">
      <a href="">About Us</a>
    </li>
    <li class="footer-item footer-item3">
      <a href="">Home</a>
    </li>
    <li class="footer-item footer-item4">
      <a href="">Any Thing</a>
    </li>
  </ul>
  <p class="footer__rights">
    All Rights Are Reserved For Its Owner &rAarr; Hossam
  </p>
</footer>
<script src="/js/navbar.js"></script>
