<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= pageTitle %></title>
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/footer.css" />
<%if (pageTitle !== 'Market' || pageTitle !== 'Register'){%>
<link rel="stylesheet" href="/css/root.css" />
<%}%>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
