<%- include('includes/head.ejs') %>
<style>
    h1{
        margin-top: 200px;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 300;
    }
</style>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>
</body>