.DUI_change_form input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--DUI_text_color);
}

body {
  font-family: "Montserrat", sans-serif;
}

/* main section */

.DUI_container_black {
  background-color: black;
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.DUI_container_black::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.DUI_container_black {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.DUI_data_box {
  width: 90%;
  background-color: var(--DUI_container);
  padding: 30px 30px 60px;
  max-width: 500px !important;
}
/* h1 */
.DUI_change_my_data {
  color: white;
  text-align: center;
  font-weight: 400;
  margin: 10px auto 25px;
  font-size: 20px;
}
/* errors style */
.DUI_form_errors {
  width: 100%;
}
.DUI_error {
  display: block;
  background: red;
  color: white;
  padding: 5px;
  margin-bottom: 2px;
  text-align: center;
}
/* form */
.DUI_change_form {
  width: 100%;
}
/* form inputs */
.DUI_change_form input {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  padding: 10px 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--DUI_border_color);
  outline: none;
  caret-color: white;
  color: #b4b4b4;
}

/* form btn */
.DUI_submit {
  background-color: var(--DUI_btn_color);
  border: 0;
  padding: 8px;
  width: 50%;
  cursor: pointer;
  color: white;
  outline: none;
}
.DUI_submit:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
}
.DUI_submit:active,
.DUI_submit:focus {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  box-shadow: none;
}
.DL_form_errors {
  width: 100%;
}
.DL_error {
  display: block;
  background: red;
  color: white;
  padding: 5px;
  margin-bottom: 2px;
  text-align: center;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .DUI_change_my_data {
    font-size: 1.7em;
  }
  .DUI_data_box {
    width: 75%;
    padding: 50px 50px 65px;
  }
}
@media (min-width: 1001px) {
  .DUI_data_box {
    width: 40%;
  }
}
